
header {
  background-color: #0a0a0a;
  border-bottom: solid 1px rgba(255, 255, 255, 0.103);
}

nav {
  display: flex;
  align-items: center;
  padding: 25px 16px;
}

.branding {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

.branding img {
  max-width: 50px;
}

.branding span {
  color: #303030;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 12%;
  top: 12%;
}

.branding h1 {
  font-size: 12px;
  font-family: "inter";
  font-weight: 500;
}

.branding p {
  background-color: #1f1f1f;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 12px;
  border-radius: 25px;
  margin-left: 10px;
}

.branding svg {
  width: 22px;
  border-radius: 5px;
  color: #a1a1a1;
  cursor: not-allowed;
  transition: all 300ms ease;
  padding: 6px 2px;
}

.branding svg:hover {
  background-color: #1f1f1f;
  padding: 6px 2px;
}

.branding svg:hover ~ .hide--text {
  opacity: 1;
}

.routes--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-routes {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
  justify-content: flex-end;
  color: #a1a1a1;
  font-weight: 800;
  list-style: none;
  font-size: 12px;
}

.nav-routes p {
  color: #a1a1a1;
  font-family: "inter" !important;
  font-weight: 400;
  cursor: pointer;
  transition: all 200ms ease;
}

.nav-routes p:hover {
  color: #ededed;
}

.nav-routes a {
  text-decoration: none;
  color: #a1a1a1;
  font-weight: 400;
  font-family: "inter" !important;
  transition: all 200ms ease;
}

.nav-routes a:hover {
  color: #ededed;
}

.profile--notification {
  margin-left: 30px;
}

.profile--notification .notification {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile--notification .notification svg {
  fill: #ededed;
  width: 30px;
  border: 1.5px solid hsla(0, 0%, 100%, 0.14);
  border-radius: 50%;
  padding: 5px;
  transition: all 300ms ease;
  cursor: pointer;
}

.profile--notification .notification svg:hover {
  opacity: 0.8;
}

.profile--notification .notification img {
  cursor: pointer;
}

.profile--notification .notification .note-ball {
  background-color: rgb(47, 146, 192);
  width: 10px;
  height: 10px;
  border-radius: 20px;
  display: none;
}

.special__route {
  border: 1px solid hsla(0, 0%, 100%, 0.14);
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: color 300ms ease, background-color 500ms ease;
}

.hide--text {
  opacity: 0;
  transition: all 300ms ease;
}

.special__route:hover {
  background-color: #181717;
  color: #ededed;
}

.profile {
  width: 20px;
  border-radius: 50px;
  margin-left: 10px;
  border: 1px solid gray;
}

.logo {
  margin-right: 10px;
}